.function-btns {
  height:300px;
}
.social-nav {
  margin-bottom: 130px;
}
#collapseExample1{
  margin-left: 378px;
}
#collapseExample2{
  margin-left: 378px;
}
#collapseExample3{
  margin-left: 378px;
}
#collapseExample4{
  margin-left: 378px;
}
